header {
  align-items: center;
  background-color: var(--primary-background);
  display: flex;
  height: 120px;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

header img {
  border-radius: 100px;
  height: 150px;
  width: 150px;
}

nav {
  position: relative;
  display: none;
}

.btn-menu {
  background-color: transparent;
  position: absolute;
  right: 40px;
  top: 50px;
  animation: all 5s ease-out;
}

.btn-menu svg {
  color: var(--paragraph);
  font-size: 35px;
  transition: height 0.5s ease-in-out;
}

.btn-menu svg:hover {
  font-size: 40px;
}

.menu-smartphone {
  overflow-y: hidden;
  align-items: center;
  background-color: var(--secundary-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0;
  transition: height 0.6s ease-in-out;
}

.menu-smartphone a {
  color: var(--headline);
  text-decoration: unset;
}

.menu-smartphone a:hover, nav a:hover {
  color: var(--btn-github);
}

@media screen and (min-width: 768px) {

  .btn-menu {
    display: none;
  }
  nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
  }

  nav a {
    color: var(--paragraph);
    text-decoration: none;
  }
}
