/* .footer-container {
  align-items: flex-start;
  background-color: #26262C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  padding-left: 20px;
}

.footer-container div:nth-child( 1 ) {
  padding-top: 15px;
} */
/* 
.footer-container div p, .footer-container div p svg {
  color: white;
  font-size: 12px;
}

.footer-container a svg {
  color: var(--btn-github);
  font-size: 45px;
} */
