header {
  align-items: center;
  background-color: #26262c;
  display: flex;
  height: 120px;
  justify-content: space-between;
  width: 100%;
}

header img {
  border-radius: 100px;
  height: 150px;
  width: 300px;
}

nav {
  position: relative;
}

.btn-menu {
  background-color: transparent;
  position: absolute;
  right: 40px;
  top: -15px;
  animation: all 5s ease-out;
}

.btn-menu svg {
  color: white;
  font-size: 35px;
}

.menu-smartphone {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0;
  transition: height 1s ease-in-out;
}

/* .menu-smartphone::content { */
/* } */
