.projetos-container {
  align-items: center;
  align-content: space-around;
  background-color: #1C1C21;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  width: 100%;
}

.projetos-container h3 {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.projetos-grid {
  width: 100%;
}

.accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.accordion-header button {
  padding: 0;
}

.accordion-item {
  border: -1px;
  width: 35%;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  align-self: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}

.accordion-button img {
  width: 100%;
}

.btn-project {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}

.btn-project a {
  text-decoration: none;
  color: #fffffe;
  background-color: #7f5af0;
  padding: 10px 30px;
  border-radius: 0.25rem;
}

.btn-project a:hover {
  color: #fffffe;
  /* opacity: 0.8; */
  background-color: #6c43e9;
}
