.projetos-container {
  align-items: center;
  align-content: space-around;
  background-color: #1c1c21;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  width: 100%;
}

.projetos-container h3 {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.projetos-grid {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.projeto-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.projeto-item-img {
  width: 100%;
}

.projeto-item-img img {
  height: 150px;
  width: 100%;
}

.projeto-item-body {
  color: white;
}

.btn-project {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}
