.projetos-container {
  align-items: center;
  align-content: space-around;
  background-color: #1c1c21;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 40px;
  justify-content: center;
  width: 100%;
}

.projetos-container h3 {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.projetos-grid {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.projeto-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.projeto-item-img {
  position: relative;
  width: 250px;
}

.projeto-item-img img {
  height: 150px;
  width: 100%;
}

.btn-arrow {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-arrow svg {
  color: var(--btn-github);
}

.projeto-item-body {
  background-color: #16161a;
  color: #94a1b2;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
}

.btn-project {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}
